body{
  font-family: 'Poppins', sans-serif;
  margin: 0%;
}

h1{
  font-size: 50px;
}

.orange-color{
  color: orange;
}

.flexible-container{
  display: flex;
  margin-bottom: 2%;
}

.half-width{
  width: 50%;
  padding-left: 5%;
}

.half-width img{
  width:80%;
}

.image-margin{
  margin-top: 150px;
}

.link{
  text-decoration: none;
  background-image: linear-gradient(orange,tomato);
  color: white;
  padding: 10px 40px;
  font-weight: 700;
  border-radius: 5px;

}

.top-banner{
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
  
}

.dream-big{
  background-image: url(./images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}

.experience-item{
  width: 50%;
  padding-left: 5%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 20px;
  box-shadow: 10px 10px 40px grey;
  
}

.experiance-area{
  background-image: url(./images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}

#full-stack-developer{
  border-radius: 10px;
  border-left: 7px solid blue
}

#baby-stack-developer{
  border-radius: 10px;
  border-left: 7px solid orange
}

.footer{
  text-align: center;
}